<?xml version="1.0" encoding="iso-8859-1"?>
<config>
	<info>
		<id>10EEC23A-0779-4068-9507A9C5ED4A8699</id>
		<version>0.2.201011201245</version>
		<name>RiakCache</name>
		<type>server</type>
		<label>Riak Cache</label>
		<description>Riak Cache Extension</description>
		<created>2010-November-20 12:45</created> 
		<category>Core Extension</category>
		<author>Andrea Campolonghi</author>
		<image>http://preview.getrailo.org/logos/riak-logo.png</image>
	</info>
</config>

