<?xml version="1.0" encoding="iso-8859-1"?>
<config>
	<info>
		<id>10EEC23A-0779-4068-9507A9C5ED4A8699</id>
		<version>0.1.201011221039</version>
		<name>InfiniSpanCache</name>
		<type>server</type>
		<label>Infinispan Cache</label>
		<description>Infinispan Cache Extension</description>
		<created>2010-November-22 10:39</created> 
		<category>Core Extension</category>
		<author>Andrea Campolonghi</author>
		<image></image>
	</info>
</config>

